.container {
  padding: 12px;
  height: 100%;
  overflow-y: auto;
}

.sliderGroup {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.sliderGroup label {
  margin-bottom: 5px;
  font-size: 0.9em;
}

.sliderGroup input[type="range"] {
  width: 100%;
}
